{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}front page{% endblock %}</h1>
{% endblock %}

{% block inputdata %}
<h2>Input data</h2>
<input type="text" id="strength" placeholder="Input Strength Value">
<button onclick="handlestrengthbutton()">Apply</button>

<!-- <form method="post">
  <label for="strength">Input Strength</label>
  <input name="strength" id="strength" required>
  <input type="submit" value="Apply">
</form> -->

{% endblock %}


{% block content %}
  <h2>Received from MQTT</h2>
  <ul id="mqtt-data">
    
  </ul>

  <ul id="poi-data">
  
  </ul>
{% endblock %}