{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}front page{% endblock %}</h1>
{% endblock %}

{% block inputdata %}

<div class="inputcontainer">

  <h2 id="chosendevice">Chosen device: None</h2>
  <div id="devicecontainer">
    <button id="deviceselectbutton">Set</button>
    <div id="devicewrapper">
      <input type="text" id="deviceidinput" placeholder="Enter device id">
      <button id="savedevicebutton">Save</button>
    </div>
  </div>

  <h2>Input data</h2>
  <input type="text" id="strength" placeholder="Input Strength Value">
  <button id="applystrength" onclick="handlestrengthbutton()">Apply</button>

</div>

{% endblock %}


{% block content %}
  <h2>Received from MQTT</h2>
  
  <div class="datacontainer">
    <ul id="mqtt-data"></ul>
    <ul id="poi-data"></ul>
  </div>
  

{% endblock %}