:root {
    --common-color: #4CAF50;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f9;
    line-height: 1.6;
}

header {
    background-color: var(--common-color);
    transition: background-color 0.5s ease-in-out;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1, h2 {
    margin: 10px 0;
    text-align: center;
}

.inputcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.inputcontainer input {
    font-size: 16px;
    padding: 3px 15px;
    text-align: center;
    width: 216;
    border: 1px solid #ccc;
    border-radius: 2px;
    max-width: 50%;
  }

input#strength {
    width: 300px;
}

.inputcontainer button {
    cursor: pointer;
    background-color: var(--common-color);
    color: white;
    border: none;
    border-radius: 2px;
    padding: 3px 15px;
    font-size: 16px;
    width: auto;
    transition: background-color 0.3s ease;
    text-align: center;
}

.inputcontainer button:hover {
    filter: brightness(85%);
}

.datacontainer {
    margin-bottom: 10px;
    padding: 3px;        
    font-size: 16px;     
    text-align: center;
    width: 450px;
}

#devicecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    max-width: 100%;
}

#devicewrapper {
    visibility: hidden;
    height: 0;
    margin-top: 10px;
    overflow: hidden;
    transition: visibility 0.3s, height 0.3s ease;
}

#devicewrapper.visible {
    visibility: visible;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 0;
    width: 100%;
}

#applystrength {
    margin-top: 5px;
}

.inputdata:last-child { margin-bottom: 0; }
/*.content form { margin: 1em 0; display: flex; flex-direction: column; }*/
.inputdata label { font-weight: bold; margin-bottom: 0.5em; }
.inputdata input, .content textarea { margin-bottom: 1em; }
.inputdata textarea { min-height: 12em; resize: vertical; }