.venv
*.pyc
__pycache__/
.env
instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

logs
db/uuids.json
db/nfctags.json

docs/_build/doctrees
docs/_build/latex


docs/out

build-website.yml